
/*
     FILE ARCHIVED ON 18:16:33 Feb 01, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:26:00 Oct 04, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 62.215 (3)
  esindex: 0.007
  captures_list: 85.103
  CDXLines.iter: 12.984 (3)
  PetaboxLoader3.datanode: 30.889 (4)
  exclusion.robots: 0.185
  exclusion.robots.policy: 0.173
  RedisCDXSource: 6.178
  PetaboxLoader3.resolve: 1033.502
  load_resource: 1044.825
*/